[push]
        default = simple
[core]
        editor = vim
        excludesfile = ~/.gitignore_global
        eol = lf
        quotepath = false
[merge]
        tool = vimdiff
[diff]
        tool = vimdiff
[difftool]
        prompt = No
[mergetool]
        prompt = No
[user]
        name = Jennings Liu
        email = xxx@xxx.com
[alias]
        st = status
        co = checkout
        br = branch
        ci = commit
        lg = "log --graph"
[format]
        pretty = format:%C(yellow)%T%Creset %C(green)%ai%Creset  %C(red)%d%Creset %C(cyan)%s%Creset   [%C(magenta)%an%Creset]