apiVersion: 1

providers:
{% for dashboard in grafana_provisioning_dashboards %}
- name: {{ dashboard.name }}
  orgId: {{ dashboard.orgId }}
  folder: {{ dashboard.folder }}
  type: {{ dashboard.type }}
  disableDeletion: {{ dashboard.disableDeletion }}
  updateIntervalSeconds: {{ dashboard.updateIntervalSeconds }}
  options:
    path: {{ dashboard.options.path }}
{% endfor %}