apiVersion: 1

providers:
- name: 'Host Monitor'
  orgId: 1
  folder: 'Host'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10 #how often Grafana will scan for changed dashboards
  options:
    path: {{ grafana_dashpoard_path}}/host_monitor

- name: 'HANA Monitor'
  orgId: 1
  folder: 'HANA'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10 #how often Grafana will scan for changed dashboards
  options:
    path: {{ grafana_dashpoard_path}}/host_monitor
