[SERVICE]
    Flush        1
    Daemon       Off
    Log_Level    debug
    Parsers_File parsers.conf
[INPUT]
    Name        tail
    Path       /var/log/messages
    Tag         systemlog

[INPUT]
    Name        tail
    Path       /var/log/audit/audit.log
    Tag         auditlog

[FILTER]
    Name record_modifier
    Match *
    Record host ${HOSTNAME}


[FILTER]
    Name parser
    Key_Name log
    Match hana-available
    Parser hana-available



[OUTPUT]
    Name  es
    Match hana-available
    Host  10.180.1.71
    Port  9200
    Logstash_Format on
    Logstash_Prefix hana-available
    Type  log
[OUTPUT]
    Name  es
    Match hana-indexserver
    Host  10.180.1.71
    Port  9200
    Logstash_Format on
    Logstash_Prefix hana-indexserver
    Type  log    
[OUTPUT]
    Name  es
    Match hana-xsengine
    Host  10.180.1.71
    Port  9200
    Logstash_Format on
    Logstash_Prefix hana-indexserver
    Type  log    
[OUTPUT]
    Name  es
    Match hana-webdispatcher
    Host  10.180.1.71
    Port  9200
    Logstash_Format on
    Logstash_Prefix hana-indexserver
    Type  log        