[Unit]
Description=alertmanager  service

[Service]
User=alertmanager
ExecStart=/usr/bin/alertmanager --config.file=/etc/alertmanager/alertmanager.yml  --storage.path={{alertmanager_storage_path }}  --web.external-url={{ alertmanager_ext_url }}

Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
[Install]
WantedBy=multi-user.target




