[Unit]
Description=bigip_exporter to monitor F5 BigIP 

[Service]
ExecStart=/usr/bin/bigip_exporter --config.file=/etc/bigip_exporter/bigip_exporter.yml
Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
[Install]
WantedBy=multi-user.target



