[Unit]
Description=blackbox_exporter   to monitor tm1

[Service]
ExecStart=/usr/bin/bigip_exporter --exporter.config /etc/bigip_exporter/bigip_exporter_tm1.yml
Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
[Install]
WantedBy=multi-user.target



