# {{ ansible_managed }}

[global]
timeout = {{ rsync_server_timeout }}
max connections = {{ rsync_server_max_connections }}
log file = /var/log/rsyncd/rsyncd.log
lock file = /var/run/rsync.lock
pid file = /var/run/rsyncd.pid
lock file = /var/run/rsync.lock
use chroot = yes
uid = root
git = root

{% for share in rsync_server_shares %}
[{{ share.name }}]
comment = {{ share.comment | default(share.path) }}
path = {{ share.path }}
ignore errors = {{ share.ignore_error|lower }}
list = {{ share.list|lower }}
read only = {{ share.readonly | default(false)|lower }}
secrets file =  {{ share.secrets_file }}
hosts allow =  {{ share.hosts_allow |join(",") }}
munge symlinks = {{share.munge_symlinks|lower}}
{%endfor%}