[Unit]
Description=prometheus service

[Service]
User=prometheus
ExecStart=/usr/bin/prometheus  --web.console.libraries=/etc/prometheus/console_libraries   --web.console.templates=/etc/prometheus/consoles --config.file=/etc/prometheus/prometheus.yml  --storage.tsdb.path={{prometheus_storage_tsdb_path}} --storage.tsdb.retention={{prometheus_storage_tsdb_retention}}  --web.enable-lifecycle --web.enable-admin-api --web.external-url={{ prometheus_ext_url }}
Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
[Install]
WantedBy=multi-user.target
