global:
  scrape_interval: 15s
rule_files:
- '/etc/prometheus/alert.rules.yml'

scrape_configs:
{% if prometheus_file_sd_job_list is defined  %}
{% for job in prometheus_file_sd_job_list %}

{% if job.job_name == 'prometheus' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
    - files: ['tgroups/prometheus-targets.yml']  
{% endif %}

{% if job.job_name == 'alertmanager' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
    - files: ['tgroups/alertmanager-targets.yml']  
{% endif %}

{% if job.job_name == 'grafana' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
    - files: ['tgroups/grafana-targets.yml']  
{% endif %}

{% if job.job_name == 'telegraf' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
    - files: ['tgroups/telegraf-targets.yml']
  relabel_configs:
    - source_labels: [__address__]
      regex: '(.*):.*'
      target_label: instance
      replacement: ${1}
{% endif %}

{% if job.job_name == 'mysql_exporter' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
  - files: ['tgroups/mysql-targets.yml']
{% endif %}


{% if job.job_name == 'hana_exporter' %}

- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  scrape_timeout: 30s
  scrape_interval: 30s
  file_sd_configs:
    - files: ['tgroups/hana-targets.yml']  
  relabel_configs:
     - source_labels: [__address__]
       target_label: __param_target
     - source_labels: [__param_target]
       target_label: instance
     - target_label: __address__
       replacement: {{job.hana_exporter_addr}}   ### the address of the hana-exporter address
{% endif %}

{% if job.job_name == 'blackbox_exporter' %}
- job_name: '{{ job.job_name }}'
  metrics_path: '{{ job.metrics_path }}'
  params:
    module: [http_2xx]
  file_sd_configs:
    - files: ['tgroups/blackbox-targets.yml']  
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{job.blackbox_exporter_addr}} # The blackbox exporter's real hostname:port.

{% endif %}

{% if job.job_name == 'bigip_exporter' %}
- job_name: '{{ job.job_name }}'
  metrics_path: '{{ job.metrics_path }}'
  params:
    module: [http_2xx]
  file_sd_configs:
    - files: ['tgroups/bigip-targets.yml']  
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement:  {{job.bigip_exporter_addr}}   # The bigip exporter's real hostname:port.
{% endif %}

{% if job.job_name == 'snmp_exporter' %}
- job_name: '{{ job.job_name }}'
  metrics_path: '{{ job.metrics_path }}'
  params:
    module: [http_2xx]
  file_sd_configs:
    - files: ['tgroups/snmp-targets.yml']  
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement:  {{job.snmp_exporter_addr}}   # The snmp exporter's real hostname:port.
{% endif %}

{% if job.job_name == 'ipmi_exporter' %}
- job_name: '{{ job.job_name }}'
  metrics_path: '{{ job.metrics_path }}'
  params:
    module: [http_2xx]
  file_sd_configs:
    - files: ['tgroups/ipmi-targets.yml']  
  relabel_configs:
    - source_labels: [__address__]
      separator: ;
      regex: (.*)(:80)?
      target_label: __param_target
      replacement: ${1}
      action: replace
    - source_labels: [__param_target]
      separator: ;
      regex: (.*)
      target_label: instance
      replacement: ${1}
      action: replace
    - separator: ;
      regex: .*
      target_label: __address__
      replacement: {{job.ipmi_exporter_addr}}  
      action: replace
{% endif %}


{% if job.job_name == 'nginx_exporter' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
  - files: ['tgroups/nginx-targets.yml']
{% endif %}

{% if job.job_name == 'netapp-harvest' %}
- job_name: '{{ job.job_name }}'
  metrics_path: {{ job.metrics_path }}
  file_sd_configs:
  - files: ['tgroups/netapp.yml']
{% endif %}

{% endfor %}

{% endif %}


alerting:
  alertmanagers:
{% if prometheus_file_sd_alertmanager_list is defined %}
{% for alertmanager in prometheus_file_sd_alertmanager_list %}
  - file_sd_configs:
    - files: 
      - {{ alertmanager }}
{% endfor %}
{% endif %}

{% if prometheus_consul_sd_alertmanager_list is defined %}
{% for alertmanager in prometheus_consul_sd_alertmanager_list %}
  - consul_sd_config:
    server: {{ alertmanager.consule_server }}
    token: {{ alertmanager.consule_token }}
    datacenter: {{ alertmanager.consule_datacenter }}
    services:  {{ alertmanager.consule_services }}
    tag:  {{ alertmanager.tag }}
{% for nmeta in alertmanager.node_meta %}
    node_meta:
      nmeta
{% endfor %}
    allow_stale: {{ alertmanager.allow_stale }}
    refresh_interval: {{ alertmanager.refresh_interval }}
{% endfor %}
{% endif %}
