global:
  scrape_interval: 15s
rule_files:
- '/etc/prometheus/alert.rules.yml'

scrape_configs:
- job_name: 'tegraf-nodes'
  metrics_path: {{ prometheus_job_metrics_path }}
  file_sd_configs:
    - files: ['tgroups/telegraf-targets.yml']
  relabel_configs:
    - source_labels: [__address__]
      regex: '(.*):.*'
      target_label: instance
      replacement: ${1}
- job_name: 'services'
  metrics_path: {{ prometheus_job_metrics_path }}
  file_sd_configs:
    - files: ['tgroups/service-targets.yml']  
{% if prometheus_blackbox_targets %}
- job_name: 'blackbox'
  metrics_path: /probe
  params:
    module: [http_2xx]
  file_sd_configs:
    - files: ['tgroups/url-targets.yml']  
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{blackbox_exporter_host}}:9115  # The blackbox exporter's real hostname:port.
{%endif%}      

alerting:
  alertmanagers:
  - file_sd_configs:
    - files: ['/etc/prometheus/alertmanagers.yml']
