# {{ ansible_managed }}

allow-from={{ powerdns_recursor_allow_from | join(", ") }}
{% if powerdns_recursor_allow_from_file %}
allow-from-file={{ powerdns_recursor_allow_from_file }}
{% endif %}
{% if powerdns_recursor_any_to_tcp %}
any-to-tcp=yes
{% else %}
any-to-tcp=no
{% endif %}
{% if powerdns_recursor_api_config_dir %}
api-config-dir={{ powerdns_recursor_api_config_dir }}
{% endif %}
{% if powerdns_recursor_api_key %}
api-key={{ powerdns_recursor_api_key }}
{% endif %}
{% if powerdns_recursor_api_readonly %}
api-readonly=on
{% else %}
api-readonly=off
{% endif %}
{% if powerdns_recursor_api_logfile %}
api-logfile={{ powerdns_recursor_api_logfile }}
{% endif %}
{% if powerdns_recursor_auth_zones %}
auth_zones={{ powerdns_recursor_auth_zones | join(", ") }}
{% endif %}
carbon-interval={{ powerdns_recursor_carbon_interval }}
{% if powerdns_recursor_carbon_ourname %}
carbon-ourname={{ powerdns_recursor_carbon_ourname }}
{% endif %}
{% if powerdns_recursor_carbon_server %}
carbon-server={{ powerdns_recursor_carbon_server }}
{% endif %}
{% if powerdns_recursor_chroot %}
chroot={{ powerdns_recursor_chroot }}
{% endif %}
client-tcp-timeout={{ powerdns_recursor_client_tcp_timeout }}
config-dir={{ powerdns_recursor_config_dir }}
{% if powerdns_recursor_config_name %}
config-name={{ powerdns_recursor_config_name }}
{% endif %}
{% if powerdns_recursor_daemon %}
daemon=yes
{% else %}
daemon=no
{% endif %}
{% if powerdns_recursor_delegation_only %}
delegation-only={{ powerdns_recursor_delegation_only | join(", ") }}
{% endif %}
{% if powerdns_recursor_disable_packetcache %}
disable-packetcache=yes
{% else %}
disable-packetcache=no
{% endif %}
dnssec={{ powerdns_recursor_dnssec }}
dont-query={{ powerdns_recursor_dont_query | join(", ") }}
entropy-source={{ powerdns_recursor_entropy_source }}
etc-hosts-file={{ powerdns_recursor_etc_hosts_file }}
{% if powerdns_recursor_export_etc_hosts %}
export-etc-hosts=on
{% else %}
export-etc-hosts=off
{% endif %}
{% if powerdns_recursor_export_etc_hosts_search_suffix %}
export-etc-hosts-search-suffix={{ powerdns_recursor_export_etc_hosts_search_suffix }}
{% endif %}
{% if powerdns_recursor_forward_zones %}
forward-zones={{ powerdns_recursor_forward_zones | join(", ") }}
{% endif %}
{% if powerdns_recursor_forward_zones_file %}
forward-zones-file={{ powerdns_recursor_forward_zones_file }}
{% endif %}
{% if powerdns_recursor_forward_zones_recurse %}
forward-zones-recurse={{ powerdns_recursor_forward_zones_recurse | join(", ") }}
{% endif %}
{% if powerdns_recursor_hint_file %}
hint-file={{ powerdns_recursor_hint_file }}
{% endif %}
latency-statistic-size={{ powerdns_recursor_latency_statistic_size }}
local-address={{ powerdns_recursor_local_address | join(", ") }}
local-port={{ powerdns_recursor_local_port }}
{% if powerdns_recursor_non_local_bind %}
non-local-bind=on
{% else %}
non-local-bind=off
{% endif %}
loglevel={{ powerdns_recursor_loglevel }}
{% if powerdns_recursor_log_common_errors %}
log-common-errors=on
{% else %}
log-common-errors=off
{% endif %}
logging-facility={{ powerdns_recursor_logging_facility }}
{% if powerdns_recursor_lua_config_file %}
lua-config-file={{ powerdns_recursor_lua_config_file }}
{% endif %}
{% if powerdns_recursor_lua_dns_script %}
lua-dns-script={{ powerdns_recursor_lua_dns_script }}
{% endif %}
max-cache-entries={{ powerdns_recursor_max_cache_entries }}
max-mthreads={{ powerdns_recursor_max_mthreads }}
max-negative-ttl={{ powerdns_recursor_max_negative_ttl }}
max-packetcache-entries={{ powerdns_recursor_max_packetcache_entries }}
max-qperq={{ powerdns_recursor_max_qperq }}
max-tcp-clients={{ powerdns_recursor_max_tcp_clients }}
max-tcp-per-client={{ powerdns_recursor_max_tcp_per_client }}
max-total-msec={{ powerdns_recursor_max_total_msec }}
minimum-ttl-override={{ powerdns_recursor_minimum_ttl_override }}
network-timeout={{ powerdns_recursor_network_timeout }}
packetcache-servfail-ttl={{ powerdns_recursor_packetcache_servfail_ttl }}
packetcache-ttl={{ powerdns_recursor_packetcache_ttl }}
{% if powerdns_recursor_pdns_distributes_queries %}
pdns-distributes-queries=on
{% else %}
pdns-distributes-queries=off
{% endif %}
query-local-address={{ powerdns_recursor_query_local_address | join(", ") }}
{% if powerdns_recursor_query_local_address6 %}
query-local-address6={{ powerdns_recursor_query_local_address6 | join(", ") }}
{% endif %}
{% if powerdns_recursor_quiet %}
quiet=on
{% else %}
quiet=off
{% endif %}
{% if powerdns_recursor_root_nx_trust %}
root-nx-trust=on
{% else %}
root-nx-trust=off
{% endif %}
{% if powerdns_recursor_security_poll_suffix %}
security-poll-suffix={{ powerdns_recursor_security_poll_suffix }}
{% endif %}
{% if powerdns_recursor_serve_rfc1918 %}
serve-rfc1918=on
{% else %}
serve-rfc1918=off
{% endif %}
server-down-max-fails={{ powerdns_recursor_server_down_max_fails }}
server-down-throttle-time={{ powerdns_recursor_server_down_throttle_time }}
{% if powerdns_recursor_server_id %}
server-id={{ powerdns_recursor_server_id }}
{% endif %}
setgid={{ powerdns_recursor_group }}
setuid={{ powerdns_recursor_user }}
{% if powerdns_recursor_single_socket %}
single-socket=on
{% else %}
single-socket=off
{% endif %}
socket-dir={{ powerdns_recursor_socket_dir }}
socket-group={{ powerdns_recursor_socket_group }}
socket-mode={{ powerdns_recursor_socket_mode }}
socket-owner={{ powerdns_recursor_socket_owner }}
spoof-nearmiss-max={{ powerdns_recursor_spoof_nearmiss_max }}
stack-size={{ powerdns_recursor_stack_size }}
stats-ringbuffer-entries={{ powerdns_recursor_stats_ringbuffer_entries }}
threads={{ powerdns_recursor_threads }}
{% if powerdns_recursor_trace %}
trace=on
{% else %}
trace=off
{% endif %}
udp-truncation-threshold={{ powerdns_recursor_udp_truncation_threshold }}
version-string={{ powerdns_recursor_version_string }}
{% if powerdns_recursor_webserver %}
webserver=on
{% else %}
webserver=off
{% endif %}
webserver-address={{ powerdns_recursor_webserver_address | join(", ") }}
webserver-allow-from={{ powerdns_recursor_webserver_allow_from | join(", ") }}
{% if powerdns_recursor_webserver_password %}
webserver-password={{ powerdns_recursor_webserver_password }}
{% endif %}
webserver-port={{ powerdns_recursor_webserver_port }}
{% if powerdns_recursor_write_pid %}
write-pid=on
{% else %}
write-pid=off
{% endif %}