[Unit]
Description=m3db m3coordinator service
Documentation=https://m3db.github.io/

[Service]
Restart=always
RestartSec=5s
LimitNOFILE=60000
TimeoutStartSec=0
ExecStart=/usr/bin/m3coordinator -f /etc/m3db/m3coordinator.yaml
[Install]
WantedBy=multi-user.target
