{
    "signing": {
        "default": {
            "expiry": "35040h",
            "usages": [
                "signing",
                "key encipherment",
                "server auth"
            ]
        },
        "profiles": {
            "CA": {
				"usages": ["cert sign"],
				"expiry": "720h"
			},
            "intermediate": {
                "expiry": "35040h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "cert sign",
                    "crl sign"
                ],
                "ca_constraint": {
                    "is_ca": true,
                    "max_path_len":1
                }
            },
            "ocsp": {
                "usages": [
                  "digital signature",
                  "ocsp signing"
                ],
                "expiry": "35040h"
              },
            "server": {
                "expiry": "35040h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth"
                ]
            },
            "client": {
                "expiry": "35040h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth"
                ]
            },
            "peer": {
                "expiry": "35040h",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            }
        }
    }

}