[Unit]
Description=Nexus Artifact Server

[Service]
User=nexus
ExecStart=/data/nexus/nexus-3.10.0-04/bin/nexus run
ExecStop=/data/nexus/nexus-3.10.0-04/bin/nexus stop
KillMode=process

[Install]
WantedBy=multi-user.target