
path.data: {{LOGSTASH_DATA_PATH}}
path.logs: {{LOGSTASH_LOGS_PATH}}

{% if LOGSTASH_ENABLED_MODULES is defined %}
{% for module in LOGSTASH_ENABLED_MODULES %}
{% if module.name == 'arcsight' %}
modules:
  - name: {{module.name}}
    var.input.{{module.vars.input.type}}.bootstrap_servers: "{{module.vars.input.host}}"
    var.elasticsearch.hosts: "{{module.vars.es_hosts}}"
    var.elasticsearch.username:  "{{module.vars.es_username|default('')}}"
    var.elasticsearch.password: "{{module.vars.password|default('')}}"
    var.kibana.host: "{{module.vars.kibana_host}}"
    var.kibana.username: "{{module.vars.kibana_username}}"
    var.kibana.password: "{{module.vars.kibana_password}}"
{% endif %}
{% endfor %}
{% endif %}